* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #efeee7;
  color: #333333;
}

header {
  background-color: #333333;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 30px;
}
h1 {
  color: #eee;
  font-size: 24px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

#main-bio,
#contact-info,
#bio-img {
  float: left;
}
#main-bio {
  width: 60%;
  line-height: 1.5em;
  margin-right: 20px;
}

#bio-img {
  margin-right: 20px;
}

#contact-info {
  width: 30%;
  line-height: 1.5em;
}

a {
  color: #d21034;
}
