* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f7f8;
  color: #495e57;
}

header {
  background-color: #495e57;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 30px;
}
h1 {
  color: #f5f7f8;
  font-size: 24px;
}

h2 {
  margin-left: 20px;
  font-size: 25px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

#main-bio,
#contact-info,
#bio-img {
  float: left;
}
#main-bio {
  width: 60%;
  line-height: 1.5em;
  margin-right: 20px;
}

#bio-img {
  margin-right: 20px;
  border-radius: 50%;
}

#contact-info {
  width: 30%;
  line-height: 1.5em;
}

a {
  color: #f4ce14;
}
